header{
    background-color:green;
    color: white
    padding: 20px;
    text-align:center;
    margin:0 1.5cm;
}

section {
    margin: 0 1.5cm;
    font-size: 18px;
    color: black;
    text-align: justify;
}

footer {
    background-color: rgba(34, 114, 110, 0.973);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 1.5cm;
    font-size: 14px;
}